{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>
    <h1>Test</h1>
    <p>This is a test page.</p>
    <article id="chat-message-list"></article>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <script type="module" src="{% static 'js/test_client.js' %}"></script>
</body>
</html>