{% extends "chat/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'chat/chat.css' %}" />
  <link rel="stylesheet" href="{% static 'users/layout.css' %}" />
  <section class="chat">
    <div class="section-header">
      <i class="icon bi bi-people" aria-hidden="true"></i>
      <p class="name">General Chat</p>
      <i class="icon bi bi-three-dots clickable right" aria-hidden="true"></i>
    </div>
    <div class="section-content" id="chatContainer">
      <!-- Chat Messages -->
      {% for comment in comments %} 
        {% include "chat/_comment_left.html" with comment=comment %}
      {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <form
      class="section-footer"
      id="commentForm"
      method="POST"
      action="{% url 'comment-create' %}"
      data-authenticated="{{ user.is_authenticated|yesno:'true,false' }}"
      autocomplete="off"
    >
      {% csrf_token %}
      <i class="icon bi bi-plus-square clickable" aria-hidden="true"></i>
      <div class="write-message">{{ form.content }}</div>
      <button
        type="submit"
        class="icon send bi bi-send clickable"
        aria-hidden="true"
      ></button>
    </form>
    {% else %}
    <div class="section-footer">
      <p class="mt-3 ml-4">
        You must be
        <a href="{% url 'login' %}"> logged in </a>
        to post a comment.
      </p>
    </div>
    {% endif %}
  </section>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'chat/js/chat.js' %}"></script>
  <script>
    window.onload = function () {
      const chatContainer = document.getElementById("chatContainer");
      chatContainer.scrollTop = chatContainer.scrollHeight;
    };
  </script>
{% endblock scripts %}
