body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the body takes the full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Arrange children in a column */
}

h1 {
    text-align: center;
    color: darkorchid;
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding for spacing */
}

#game_canvas {
    border-radius: 25px;
    background-color: dimgrey;
    border: 2px solid blueviolet; /* Ensure border is visible */
    margin-top: 20px; /* Add margin for spacing */
}