.list {
	background-color: #FFEDE8;
  width: 80vw;
  max-width: 1050px;
  font-family: Montserrat, sans-serif;
}

.section-header {
  background-color: #FFEDE8;
  padding: 10px 35px;
  min-height: 90px;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
  display:flex;
  align-items: center;
}

.section-content {
  padding: 25px 35px;
  flex-grow: 1;
  overflow-y: auto;
  height: 60vh;
}

.section-footer {
  height: 80px;
  display:flex;
  align-items: center;
  bottom: 0;
  background-color: transparent;
  border-top: 2px solid #EEE;
}

.chat, .user-list {
  background-color: #FFF5F2;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
