{% load static %}

{% block css %}
<link 
rel="stylesheet" 
href="{% static 'game/css/pong.css' %}" 
/>
{% endblock %}

<div class="main"></div>
<div class="panel rounded-corner">
  <p class="message ">GAME PAUSED</p>
</div>
<div class="board rounded-corner">
  <div class="middle_line"></div>
  <div class="scores">
    <p class="player_1_score score">0</p>
    <p class="player_2_score score">0</p>
  </div>
  <div class='ball'>
    <div class="ball_effect"></div>
  </div>
  <div class="paddle paddle_1"></div>
  <div class="paddle paddle_2"></div>
</div>

{% block js %}
<script type="module" src="{% static 'game/js/main.js' %}" ></script>
{% endblock %}
