{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{{ meta_description|default:"Online Pong Game" }}">
  {% include 'game/includes/css_includes.html' %}
  {% block css %}{% endblock %}
</head>
<body class="bkg">
  {% include 'game/partials/_navbar.html' %}
  <div class="main-content">
    {% block content %}{% endblock %}
    {% if request.session.modal_data %}
      {% include 'game/partials/'|add:request.session.modal_data.template with title=request.session.modal_data.title message=request.session.modal_data.message %}
      {% include 'game/partials/_clear_modal_data.html' %}
    {% endif %}
  </div>
  {% include 'game/includes/js_includes.html' %}
  {% block js %}{% endblock %}
</body>
</html>