{% extends 'game/base.html' %}
{% load static %}

{% block title %}🏡{% endblock %}

{% block css %}
<link 
  rel="stylesheet" 
  href="{% static 'game/css/home.css' %}" 
/>
<link 
  rel="stylesheet"
  href="{% static 'game/css/title.css' %}"
/>
<link 
  rel="stylesheet"
  href="{% static 'game/css/forms.css' %}"
/>
<link 
  rel="stylesheet"
  href="{% static 'game/css/background.css' %}"
/>
<link 
  rel="stylesheet" 
  href="{% static 'game/css/icon_navbar.css' %}"
/>
{% endblock %}

{% block content %}
<form class="noise" method="post" action="{% url 'home' %}">
  <div class="focus" data-message="game mode">
    <div class="focus--mask">
      <div class="focus--mask-inner">game mode</div>
    </div>
  </div>
  {% csrf_token %}
  <button class="btn game-btn" type="submit" name="mode" value="practice">Practice</button>
  <button class="btn game-btn" type="submit" name="mode" value="join">Join Tournament</button>
  <button class="btn game-btn" type="submit" name="mode" value="host">Host</button>
</form>
{% endblock %}

{% block js %}
<script type="module" src="{% static 'game/js/practice/header.js' %}" ></script>
{% endblock %}
