{% extends "game/base.html" %}
{% block title %}🏃‍♂️{% endblock %}
{% load static %}
{% block css %}
<link 
  rel="stylesheet" 
  href="{% static 'game/css/quit.css' %}" 
/>
<link 
  rel="stylesheet" 
  href="{% static 'game/css/background.css' %}"
/>
<link 
  rel="stylesheet" 
  href="{% static 'game/css/icon_navbar.css' %}"
/>
{% endblock %}
{% block content %}
<div class="container">
  <h3 class="message">Already leaving?</h3>
  <p>Attempting to re-enter the tournament may not be possible. 😢</p>
  <form method="post" action="{% url 'quit' tournament_id=tournament_id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning" name="quit_button" value="quit">Yes, Quit</button>
    <a href="{% url 'tournament' tournament_id=tournament_id %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock content %}