{% extends 'game/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}Register{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'game/css/background.css' %}">
<link rel="stylesheet" href="{% static 'users/css/button_pong.css' %}">
<link rel="stylesheet" href="{% static 'users/css/form.css' %}">
<link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
{% endblock %}

{% block content %}
  <div class="animated-border-box-glow"></div>
  <div class="form animated-border-box">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="text-center mb-4">
          <h2 class="mb-0">Sign Up</h2>
          <p class="fs-6 mb-0 text-muted">Please register if you wish to play</p>
        </legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group text-center mb-3">
        <button class="button_pong" style="--clr:#AF47D2" type="submit"><span>Register</span><i></i></button>
      </div>
    </form>
    <div class="sign-up">
      <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
    </div>
  </div>
{% endblock content %}
