@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  height: 100vh;
  margin: 0;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

* {
	box-sizing: border-box;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.comment-title {
  color: #444444;
}

a.comment-title:hover {
  color: #428bca;
  text-decoration: none;
}

.comment-content {
  white-space: pre-line;
}

.comment-img {
  height: 45px;
  width: 45px;
  margin-right: 16px;
}

.comment-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.comment-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.comment-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.chat-box {
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 56px);
  padding: 20px;
  margin-top: 56px;
  box-sizing: border-box;
}

.content-section {
  width: 60%;
  max-width: 600px;
}
