@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#leaderboardPage {
  background-color: #4b4b4b;
  color: #ffffff;
  font-family: 'Press Start 2P', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  background-color: #1c1c1c;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
}

.title {
  caption-side: top;
  font-size: 32px;
  font-weight: bold;
  color: #00ff00;
  padding: 32px 0;
  text-align: center;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #333;
  text-align: left;
}

th {
  background-color: #222;
  color: #00ff00;
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #1a1a1a;
}

tr:hover {
  background-color: #333;
}

.rank {
  width: 40px;
  text-align: center;
}

.avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.username {
  color: #00ff00;
  text-transform: uppercase;
}

.points {
  text-align: center;
  color: #f1f1f1;
}

.user-name {
 text-transform: uppercase;
}
