:root {
--maskSize          : 70px;
--speed             : 1.5s;
--borderOffset      : 4px;
--backgroundColor   : transparent;
--animationProps    : var(--speed) linear infinite alternate;
}

@keyframes mask-move {
  0% { transform: translateX(0);}
  100% { transform: translateX(calc(var(--componentSize) - var(--maskSize)));}
}

@keyframes mask-inner-move {
  0% { transform: translateX(0);}
  100% { transform: translateX(calc(-1 * (var(--componentSize) - var(--maskSize))));}
}

.focus {
  margin: 15px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  position: relative;
  width: var(--componentSize);
  white-space: nowrap;
  background-color: transparent;
  color: var(--darkest);
}

.focus:before {
  content: attr(data-message);
  filter: blur(3px);
}

.focus:after {
  content: '';
  position: absolute;
  width: var(--maskSize);
  height: calc(100% + var(--borderOffset));
  top: calc(-1 * var(--borderOffset) / 2);
  left: 0;
  border-top: 4px solid;
  border-bottom: 4px solid;
  animation: mask-move var(--animationProps);
}

.focus--mask {
  overflow: hidden;
  position: absolute;
  width: var(--maskSize);
  height: 100%;
  top: 0;
  left: 0;
  background: var(--backgroundColor);
  animation: mask-move var(--animationProps);
}

.focus--mask-inner {
  animation: mask-inner-move var(--animationProps);
}
