{% extends 'game/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Profile{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'game/css/background.css' %}">
<link rel="stylesheet" href="{% static 'game/css/icon.css' %}">
<link rel="stylesheet" href="{% static 'users/css/form.css' %}">
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'users/css/match.css' %}">
<link rel="stylesheet" href="{% static 'users/css/modal.css' %}">
{% endblock %}

{% block content %}
<div class="animated-border-box-glow"></div>
<div class="form animated-border-box">
  <div class="card-container">
    {% if request.user == user %}
    <a class="svg-icon left" href="{% url 'profile-edit' %}">
      <i class="bi bi-gear-fill icon-purple"></i>
    </a>
    <a class="svg-icon right" href="{% url 'view-friends' %}">
      <i class="bi bi-person-lines-fill icon-purple"></i>
    </a>
    {% elif user in request.user.blocked_users.all %}
    <form
      action="{% url 'unblock-user' user.id %}"
      method="POST"
    >
      {% csrf_token %}
      <button type="submit" class="svg-icon left">
        <i class="bi bi-person-slash text-success icon-purple"></i>
      </button>
    </form>
    {% else %}
    <form
      action="{% url 'block-user' user.id %}"
      method="POST"
    >
      {% csrf_token %}
      <button type="submit" class="svg-icon left">
        <i class="bi bi-person-slash text-danger icon-purple"></i>
      </button>
    </form>
    {% endif %}
    <img
      class="round {% if user in request.user.friends.all %}friend-border{% elif user in request.user.blocked_users.all %}blocked-border{% else %}normal-border{% endif %}" 
      src="{{ user.profile.profile_image_url }}"
      alt="user"
    />
    <h2>{{ user.username }}</h2>
    <h6>{{ user.email }}</h6>
    <div class="scores">
      <p class="text-success">Wins: <b>{{ user.total_wins }}</b></p>
      <p class="text-danger">Losses: <b>{{ user.total_losses }}</b></p>
    </div>
    <div class="matches">
      <h6>Last Matches</h6>
      <ul id="match-list">
        {% for match in matches|reverse_list %}
        <li class="match-item" data-match-id="{{ match.id }}" data-username="{{ user.username }}">
          {{ match.user1_score }} - {{ match.user2_score }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- Modal Popup for Match Details -->
<div id="match-modal" class="modal" style="display: none;">
  <div>
    <span class="close">&times;</span>
    <div id="match-details">
      <p id="loading-text" style="display:none;">Loading...</p>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const modal = document.getElementById("match-modal");
    const modalContent = document.getElementById("match-details");
    const loadingText = document.getElementById("loading-text");
    const span = document.getElementsByClassName("close")[0];

    modal.style.display = "none";
    document.querySelectorAll(".match-item").forEach(item => {
      item.addEventListener("click", function() {
        const matchId = this.getAttribute("data-match-id");
        const username = this.getAttribute("data-username");

        const url = `/match-detail/${matchId}/?username=${username}`;

        loadingText.style.display = 'block';
        fetch(url)
          .then(response => {
            if (!response.ok) {
              throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
          })
          .then(data => {
            loadingText.style.display = 'none';
            if (data.html) {
              modalContent.innerHTML = data.html;
              modal.style.display = "block";
            } else {
              alert('Failed to load match details.');
            }
          })
          .catch(error => {
            loadingText.style.display = 'none';
            console.error('Error fetching match details:', error);
            alert('Failed to load match details. Please try again.');
          });
      });
    });

    span.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
});
</script>
{% endblock js %}
