{% extends "chat/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'users/form.css' %}">
  <link rel="stylesheet" href="{% static 'users/button_pong.css' %}">
  <div class="animated-border-box-glow"></div>
  <div class="form animated-border-box">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
        <a class="svg-icon right neon_icon" href="{% url 'profile' %}">
          <i class="bi bi-eye"></i>
        </a>
    </div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile Info</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button style="--clr:#AF47D2" type="submit"><span>Update</span><i></i></button>
      </div>
    </form>
  </div>
{% endblock content %}
