{% extends 'game/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'game/css/background.css' %}">
<link rel="stylesheet" href="{% static 'game/css/icon.css' %}">
<link rel="stylesheet" href="{% static 'users/css/form.css' %}">
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'users/css/match.css' %}">
<link rel="stylesheet" href="{% static 'users/css/modal.css' %}">
{% endblock %}

{% block content %}
<div class="animated-border-box-glow"></div>
<div class="form animated-border-box">
  <div class="card-container">
    {% if request.user == user %}
    <a class="svg-icon left" href="{% url 'profile-edit' %}">
      <i class="bi bi-gear-fill icon-purple"></i>
    </a>
    <a class="svg-icon right" href="{% url 'view-friends' %}">
      <i class="bi bi-person-lines-fill icon-purple"></i>
    </a>
    {% elif user in request.user.blocked_users.all %}
    <form
      action="{% url 'unblock-user' user.id %}"
      method="POST"
    >
      {% csrf_token %}
      <button type="submit" class="svg-icon left"
        data-bs-toggle="tooltip" data-bs-placement="left"
        data-bs-custom-class="unblock-tooltip"
        data-bs-title="Unblock User">
        <i class="bi bi-person-slash text-success icon-purple"></i>
      </button>
    </form>
    {% else %}
    <form
      action="{% url 'block-user' user.id %}"
      method="POST"
    >
      {% csrf_token %}
      <button type="submit" class="svg-icon left"
        data-bs-toggle="tooltip" data-bs-placement="left"
        data-bs-custom-class="block-tooltip"
        data-bs-title="Block User">
        <i class="bi bi-person-slash text-danger icon-purple"></i>
      </button>
    </form>
    {% endif %}
    <div class="image">
      <img
        class="round {% if user in request.user.friends.all %}friend-border{% elif user in request.user.blocked_users.all %}blocked-border{% else %}normal-border{% endif %}" 
        src="{{ user.profile.image.url }}"
        alt="user"
        onerror="this.onerror=null;this.src='{% static 'users/images/default-avatar.png' %}';"
      />
      {% if user.is_online and not user_blocked %}
      <button type="button" class="online"
        data-bs-toggle="tooltip" data-bs-placement="left"
        data-bs-custom-class="online-tooltip"
        data-bs-title="online">
      </button>
      {% elif not user_blocked%}
      <button type="button" class="offline"
        data-bs-toggle="tooltip" data-bs-placement="left"
        data-bs-custom-class="offline-tooltip"
        data-bs-title="{{ user.get_online_info }}">
      </button>
      {% endif %}
    </div>
    <h2>{{ user.username }}</h2>
    <h6>{{ user.email }}</h6>
    <div class="scores">
      <p class="text-success">Wins: <b>{{ user.total_wins }}</b></p>
      <p class="text-danger">Losses: <b>{{ user.total_losses }}</b></p>
    </div>
    <div class="matches">
      <h6>Last Matches</h6>
      {% if matches %}
      <ul id="match-list">
        {% for match in matches %}
        <li class="match-item" data-match-id="{{ match.id }}" data-username="{{ user.username }}">
          {{ match.user1_score }} - {{ match.user2_score }}
        </li>
        {% endfor %}
        {% else %}
        <h6><i>Your matches are like a unicorn... they don't exist!🦄🎯</i></h6>
      </ul>
      {% endif %}
    </div>
  </div>
</div>

<!-- Modal Popup for Match Details -->
<div id="match-modal" class="modal" style="display: none;">
  <div>
    <span class="close">&times;</span>
    <div id="match-details">
      <p id="loading-text" style="display:none;">Loading...</p>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script type="module" src="{% static 'users/js/card_modal.js' %}" ></script>
{% endblock js %}
