<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f8d7da;">
        <h5 class="modal-title" style="font-family: 'Roboto', sans-serif; color: #721c24;">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-family: 'Montserrat', sans-serif; color: #721c24;">
        <p>{{ message }}</p>
      </div>
    </div>
  </div>
</div>
