{% load static %}

{% block css %}
<link 
  rel="stylesheet"
  href="{% static 'game/css/navbar.css' %}" 
/>
{% endblock %}

<input type="checkbox" id="check">
<label for="check">
  <i class="bi bi-list" id="btn"></i>
  <i class="bi bi-x-lg" id="cancel"></i>
</label>
<div class="sidebar">
  <header>Menu</header>
  {% if user.is_authenticated %}
  {% if request.get_full_path != "/game/home/" %}
  <a href="{% url 'home' %}">
    <i class="bi bi-house"></i>
    <span>Home</span>
  </a>
  {% endif %}
  {% if request.get_full_path != "/game/home/" and request.get_full_path != "/game/practice/" %}
  <a href="{% url 'practice' %}">
    <i class="bi bi-joystick"></i>
    <span>Practice</span>
  </a>
  {% endif %}
  <a href="{% url 'profile' %}">
    <i class="bi bi-person-lines-fill"></i>
    <span>Profile</span>
  </a>
  <a href="{% url 'view-friends' %}">
    <i class="bi bi-person-arms-up"></i>
    <span>Friends</span>
  </a>
  <a href="{% url 'users' %}">
    <i class="bi bi-people-fill"></i>
    <span>Find Users</span>
  </a>
  <a href="{% url 'settings' %}">
    <i class="bi bi-sliders"></i>
    <span>Settings</span>
  </a>
  <a href="{% url 'logout' %}" class="text-danger">
    <i class="bi bi-x-circle-fill"></i>
    <span>Logout</span>
  </a>
  {% else %}
  <a href="{% url 'login' %}">
    <i class="bi bi-shield-fill-check"></i>
    <span>Login</span>
  </a>
  <a href="{% url 'register' %}">
    <i class="bi bi-database-fill-check"></i>
    <span>Register</span>
  </a>
  {% endif %}
</div>
