{% extends "chat/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'users/user_list.css' %}" />
  <link rel="stylesheet" href="{% static 'users/layout.css' %}" />
  <link rel="stylesheet" href="{% static 'game/css/icon.css' %}" />

  <section class="user-list">
    <div class="section-header justify-content-between">
      {% include "users/partials/_users_list_header.html" %}
    </div>
    <div class="section-content">
      {% include "users/partials/_list_users.html" %}
    </div>
  </section>
{% endblock content %}
